<app-navbar></app-navbar>
<div style="text-align: center;">
  <div>Level {{currentLevel+1}}</div>
  <div>x{{operatorProblem}}{{problems[0]}}={{problems[1]}}</div>
  <div class="first-line">
    x =
    <mat-form-field appearance="fill" class="mat-form-field-number">
      <input autofocus id="answer0" (ngModelChange)="changeAnswer(1)" matInput autocomplete="off" type="number" [(ngModel)]="answers[0]">
    </mat-form-field>
    <mat-form-field appearance="fill" class="mat-form-field-operator">
      <mat-label>Operator</mat-label>
      <mat-select id="answer1" (selectionChange)="changeAnswer(2)" [(value)]="operatorAnswer">
        <mat-option *ngFor="let operator of operators" [value]="operator">
          {{operator}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="mat-form-field-number">
      <input id="answer2" matInput autocomplete="off" type="number" [(ngModel)]="answers[1]">
    </mat-form-field>
    <mat-icon *ngIf="currentLine>0" style="color: green">check_circle</mat-icon>
    <button mat-raised-button color="primary" (click)="submitAnswer()">Submit</button>
    <div *ngIf="alert1" style="color: red">Check again!</div>
    <div *ngIf="!alert1">
      <br>
    </div>
  </div>
  <div class="second-line">
    x =
    <mat-form-field appearance="fill" class="mat-form-field-number">
      <input id="answer3" [disabled]="currentLine<=0" matInput autocomplete="off" type="number" [(ngModel)]="answers[2]">
    </mat-form-field>
    <mat-icon *ngIf="currentLine>1" style="color: green">check_circle</mat-icon>
    <button mat-raised-button color="primary" [disabled]="currentLine<=0" (click)="submitAnswer()">Submit</button>
    <div *ngIf="alert2" style="color: red">Check again!</div>
    <div *ngIf="!alert2">
      <br>
    </div>
  </div>
  <br>
  <br>
  <div>Progress: ({{currentLevelPhase}}/{{totalLevelPhases}})</div>
  <br>
  <table>
    <tr>
      <th [class]="currentLevelPhase>i?'checked':'unchecked'"
          *ngFor="let number of totalLevelPhasesBoxes; index as i">{{i+1}}</th>
    </tr>
  </table>
  <br>
  <br>
  <button mat-raised-button color="accent" [disabled]="currentLevel<=0" style="margin-right: 10px" (click)="previousLevel()">Previous Level</button>
  <button mat-raised-button color="accent" [disabled]="maxLevel<=currentLevel" (click)="nextLevel()">Next Level</button>
  <br>
  <br>
  <button mat-raised-button color="warn" (click)="Reset()">Reset</button>
</div>
