<app-navbar></app-navbar>
<div style="text-align: center">
  <div>Level 1</div>
  <div>x+{{problems[0]}}={{problems[1]}}</div>
  <div class="first-line">
    <mat-form-field appearance="fill" class="mat-form-field-number">
      <input matInput autocomplete="off" [(ngModel)]="answers[0]">
    </mat-form-field>
    =
    <mat-form-field appearance="fill" class="mat-form-field-number">
      <input matInput autocomplete="off" type="number" [(ngModel)]="answers[1]">
    </mat-form-field>
    <mat-form-field appearance="fill" class="mat-form-field-operator">
      <mat-label>Operator</mat-label>
      <mat-select [(value)]="operatorAnswer">
        <mat-option *ngFor="let operator of operators" [value]="operator">
          {{operator}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="mat-form-field-number">
      <input matInput autocomplete="off" type="number" [(ngModel)]="answers[2]">
    </mat-form-field>
    <mat-icon *ngIf="currentLine>0" style="color: green">check_circle</mat-icon>
  </div>
  <div class="second-line" *ngIf="currentLine>0">
    <mat-form-field appearance="fill" class="mat-form-field-number">
      <input matInput autocomplete="off" [(ngModel)]="answers[3]">
    </mat-form-field>
    =
    <mat-form-field appearance="fill" class="mat-form-field-number">
      <input matInput autocomplete="off" type="number" [(ngModel)]="answers[4]">
    </mat-form-field>
    <mat-icon *ngIf="currentLine>1" style="color: green">check_circle</mat-icon>
  </div>
  <button mat-raised-button color="primary" (click)="submitAnswer()">Submit</button>
  <br>
  <br>
  <br>
  <br>
  <button mat-raised-button color="warn" (click)="setupVariables()">Reset</button>
</div>
