.mat-form-field-number{
  width: 60px;
  margin: 5px;
}

.mat-form-field-operator{
  width: 95px;
  margin: 5px;
}


.boxes-level-mat-grid-list{
  margin: 0 auto;
}

.boxes-level-mat-grid-tile-checked{
  border: 2px solid #5FD068;
  background: #5FD068;
  color: #F6FBF4;
}

.boxes-level-mat-grid-tile-unchecked{
  border: 2px solid #5FD068;
  background: #F6FBF4;
  color: #4B8673;
}

.boxes-level-container{
  width: 200px;
  margin: 0 auto;
}

